# Git
.git
.gitignore
.github
.gitmodules

# Docker
docker-compose.yml
Dockerfile*
.dockerignore

# Node.js
node_modules
npm-debug.log
dist
dist-electron
build

# IDE
.vscode
.idea
*.sublime-*

# Testing
coverage
.nyc_output

# Documentation
docs
*.md
LICENSE

# OS specific
.DS_Store
Thumbs.db

mcp-server
mcp-host
